# -----------------
# Logs
# -----------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -----------------
# Node (frontend)
# -----------------
node_modules/
dist/
dist-ssr/
*.local

# -----------------
# Python (backend)
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.venv/
venv/
env/
ENV/
pcos_classifier_resnet50.pth
# -----------------
# Environment & secrets
# -----------------
.env
.env.local
.env.*
!.env.example   # keep example env files if you have them

# -----------------
# Editor & OS junk
# -----------------
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
